<% include partials/header.ejs %>

<h1>Hello there</h1>
<p>Welcome to application page for Hack4Impact :)</p>
<p>If you are an applicant: <a href="/register"> apply here</a></p>
<p>If you are an admin, check <a href="/show">this</a> out</p>

<% include partials/footer.ejs %>